.about{
    display: grid;
    place-content: center;
    
    background-size: cover; 
    background-color: #4062bb;
    background-image: linear-gradient(316deg, #4062bb 0%, #5200ae 74%);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1010%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1011)'%3e%3c/rect%3e%3cpath d='M1440 0L1033.68 0L1440 56z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1033.68 0L1440 56L1440 275.21000000000004L485.6300000000001 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M485.6300000000001 0L1440 275.21000000000004L1440 417.89000000000004L432.1800000000001 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M432.18000000000006 0L1440 417.89000000000004L1440 495.77000000000004L237.32000000000005 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 560L82.91 560L0 322.93z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 322.93L82.91 560L134.34 560L0 271.7z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 271.7L134.34 560L376.07 560L0 210.44z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 210.44L376.07 560L1016.55 560L0 153.57999999999998z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1010'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1011'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(12%2c 63%2c 128%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");}


.about-title{
    color: white;
    font-size: min(3rem,10vw);
    text-align: center;
}

.underline{
    margin-top: 19px;
    width: 140px;
    place-self: center;
    border-bottom: 1px solid goldenrod;
}
.about-sub{
    width: auto;
    margin: 20px;
    width: 60vw;
    text-align: center;
    font-size: min(1.3rem,4vw);
    color: white;
}

@media only screen and (max-width: 600px) {
    .about-sub {
      width: 85vw;
    }
}