.about{
    display: grid;
    place-content: center;
    
    background-size: cover; 
    background: #00b09b;
    background: -webkit-linear-gradient(
        to right,
        #96c93d,
        #00b09b
    );

        background-image: linear-gradient(to right, #96c93d, #00b09b);
}
    


.about-title{
    color: white;
    font-size: min(3rem,10vw);
    text-align: center;
}

.underline{
    margin-top: 19px;
    width: 140px;
    place-self: center;
    border-bottom: 1px solid goldenrod;
}
.about-sub{
    width: auto;
    margin: 20px;
    width: 60vw;
    text-align: center;
    font-size: 1.7rem;
    color: white;
}

@media only screen and (max-width: 600px) {
    .about-sub {
      width: 85vw;
    }
}