.details{
    display: grid;
    gap : 10px;
    width: fit-content;
    justify-self: center;
    font-size: 1.2rem;
    margin-left: 50px;
    place-content: center;
}   
.review{

    padding: 2rem;
    background: rgba(0, 0, 0, 0.089);
    width: 700px; 
    display: grid;
    justify-self: center;
    place-content: center;    
    margin-bottom: 2rem;  

}
.review p{
    text-align: center;

}
.amazon{
    display: grid;
    place-content: center;
    gap: 3rem;  
    grid-template-columns: 1fr 1fr;


}
.amazon img{
    background-size: cover;
    height: 350px;
    
    justify-self: end;
}
.details_root{
    display: grid;
    place-content: center;
}
.btn{
    width: 20ch;
    justify-self: center;
}
.buttons{
    display: flex;
    gap: 20px;
    margin-top: 3rem;
    justify-self: center;
}
.buttons button{
    outline: none;
    border: none;
    width: 20ch;
    padding: 1rem;
}
.details span:nth-child(1){
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
    border-bottom: 2px solid rgba(0, 0, 0, 0.123);
}