.feature{
    display: grid;
    place-content: center;
    grid-template-columns: 400px 400px;
    gap: 4rem;

}
/* expert advice
   
*/
.single-feature{
    display: flex;
    text-align: center;
    font-size: x-large;
    padding: 50px 30px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background:transparent;
    border-radius: 6px;
    flex-direction: column;
    transition: 200ms transform ease;
    font-weight: bold;
}
.single-feature:hover{
    transform: scale(1.05);
}