.navBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 18px;
    height: 75px;
    background-color:#01579b;
    color: white;
}

.anchors{
    text-decoration: none;
    color: aqua;
    margin: 0 40px;
}


/* table data */
/* table data */
/* table data */


.page{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
}
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }